<app-page-header
  [title]="'header.availability' | translate"
  [description]="'availability.subtitle' | translate"
></app-page-header>

<app-select
  [options]="doctorsArr()"
  labelKey="displayName"
  valueKey="id"
  [placeholder]="'availability.select_doctor' | translate"
  (valueChange)="onDoctorSelect($event)"
></app-select>

@if ((!selectedDoctor() || doctorsArr().length === 0) && !loadingAvailStatus()) {
  <app-feedback-states />
}

@if (selectedDoctor()) {
  <div class="mt-6 flex flex-col gap-6 lg:flex-row lg:items-start lg:justify-between">
    <section class="bg-surface flex-1 rounded-xl p-4 text-center">
      <div class="mb-4 flex flex-col text-center sm:flex-row sm:justify-between">
        <h2 class="mb-3 text-lg font-semibold">
          {{ 'availability.working_hours' | translate }}
        </h2>

        <app-button (clicked)="addAvailabilityRow()">
          + {{ 'availability.add_day' | translate }}
        </app-button>
      </div>

      @if (loadingAvailStatus()) {
        <app-loading />
      } @else {
        @for (item of editableAvailabilityArr(); track $index) {
          <div class="mb-3 flex items-center gap-3">
            <app-select
              [options]="dayOptions"
              labelKey="label"
              valueKey="value"
              [selectedValue]="item.dayOfWeek"
              [placeholder]="'availability.select_day' | translate"
              (valueChange)="updateDay($index, $event)"
            ></app-select>

            <input
              type="time"
              [value]="item.startTime"
              (input)="updateStartTime($index, $any($event.target).value)"
              class="border-border rounded border px-2 py-1"
            />

            <input
              type="time"
              [value]="item.endTime"
              (input)="updateEndTime($index, $any($event.target).value)"
              class="border-border rounded border px-2 py-1"
            />

            <button type="button" (click)="removeAvailability($index)" class="text-danger">
              <lucide-icon name="trash"></lucide-icon>
            </button>
          </div>
        }

        @if (availabilityArr().length === 0 && editableAvailabilityArr().length === 0) {
          <app-feedback-states
            [showIcon]="false"
            titleKey=""
            descriptionKey="availability.no_working_hours"
          />
        } @else {
          <app-button (clicked)="saveAvailability()">
            {{ 'availability.save_changes' | translate }}
          </app-button>
        }
      }
    </section>

    <section class="bg-surface flex-1 rounded-xl p-4">
      <h2 class="mb-3 text-lg font-semibold">{{ 'availability.blocked_days' | translate }}</h2>

      @if (loadingBlockedStatus()) {
        <app-loading />
      } @else {
        <div class="mb-4 flex flex-col gap-3 text-center sm:flex-row">
          <input
            type="date"
            [value]="newBlockedDate()"
            (input)="newBlockedDate.set($any($event.target).value)"
            class="border-border bg-surface flex-1 rounded-lg border px-3 py-2"
          />

          <app-button (clicked)="createBlockedDate()" [disabled]="!newBlockedDate()">
            + {{ 'availability.add_blocked_date' | translate }}
          </app-button>
        </div>

        @if (blockedDatesArr().length === 0) {
          <app-feedback-states
            [showIcon]="false"
            titleKey=""
            descriptionKey="availability.no_blocked_days"
          />
        }

        <div class="grid grid-cols-1 gap-3 sm:grid-cols-2 lg:grid-cols-3">
          @for (item of blockedDatesArr(); track item.id) {
            <div
              class="border-border bg-surface relative flex flex-col items-center rounded-xl border p-4"
            >
              <app-button
                type="button"
                customClass="rounded transition-all text-danger hover:bg-danger-soft hover:text-danger absolute top-3 inset-e-3 p-1"
                (clicked)="openDeleteModal(item)"
              >
                <lucide-icon name="trash" class="h-4 w-4"></lucide-icon>
              </app-button>

              <div class="bg-primary-soft text-primary mb-3 rounded-full p-3">
                <lucide-icon name="calendar" class="h-6 w-6"></lucide-icon>
              </div>

              <span class="text-text text-sm font-medium">
                {{ item.date }}
              </span>
            </div>
          }
        </div>
      }
    </section>
  </div>
}
@if (showDeleteModal()) {
  <app-modal>
    <h2 class="text-text mb-4 text-xl font-bold">
      {{ 'availability.delete_modal.title' | translate }}
    </h2>

    <p class="text-muted mb-6">
      {{ 'availability.delete_modal.message' | translate }}
    </p>

    <div class="flex justify-end gap-2">
      <app-button
        type="button"
        (clicked)="closeDeleteModal()"
        customClass="bg-secondary hover:bg-secondary-hover text-white h-10 px-4 py-2"
      >
        {{ 'availability.delete_modal.cancel' | translate }}
      </app-button>

      <app-button
        type="button"
        customClass="bg-danger hover:bg-danger-hover text-white h-10 px-4 py-2"
        (clicked)="confirmDeleteBlockedDate()"
      >
        {{ 'availability.delete_modal.delete' | translate }}
      </app-button>
    </div>
  </app-modal>
}
